<!DOCTYPE html>
<html>
  <header><div>
      <h3>
        Form di inserimento
      </h3>
    </div>
  </header>

  <body>
    <div>
      Nome: <input type="text" #nome><br />
      Cognome: <input type="text" #cognome><br />
      Indirizzo: <input type="text" #indirizzo><br />
      Telefono: <input type="number" #telefono><br />
      Email: <input type="text" #email><br />
      Data prenotazione: <input type="date" #data><br />
      Ora prenotazione: <input type="number" #ora><br />
    </div>
    
    <div>
      <button (click) = "aggiungiDati(nome, cognome, indirizzo, telefono, email, data, ora)">Prenota</button>
    </div>

    @if(loading)
    {
      <div>loading...</div>
    }

    <pre>{{data | json}}</pre>

    <div>
      Lista prenotazioni
    </div>

    <div>
      Dettagli prenotazione
    </div>
  </body>
  
</html>