<!DOCTYPE html>
<html>
  <header><div>
      <h3>
        Form di inserimento
      </h3>
    </div>
  </header>

  <body>
    <div>
      Nome: <input name="nome" type="text" #nome><br />
      Cognome: <input name="cognome" type="text" #cognome><br />
      Indirizzo: <input name="indirizzo" type="text" #indirizzo><br />
      Telefono: <input name="telefono" type="number" #telefono><br />
      Email: <input name="email" type="text" #email><br />
      Data prenotazione: <input name="data" type="date" #data><br />
      Ora prenotazione: <input name="ora" type="number" #ora><br />
    </div>
    
    <div>
      <button (click) = "aggiungiDati(nome, cognome, indirizzo, telefono, email, data, ora)">Prenota</button>
    </div>

    @if(loading)
    {
      <div>loading...</div>
    }

    <pre>{{data | json}}</pre>

    <div>
      Lista prenotazioni
      <div>
        <app-lista-prenotazioni [profile]="profile"></app-lista-prenotazioni>
        <app-lista-prenotazioni></app-lista-prenotazioni>
      </div>
    </div>

    <div>
      Dettagli prenotazione
      <div>
        <app-dettagli-componente></app-dettagli-componente>
      </div>
    </div>
  </body>
  
</html>